@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.today_workout {
    width: 500px;
    height: 700px;
    background: #ffffff;
    color: #000000;
    position: absolute;
    top: 50%;
    left: 33%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 10px 30px;
    box-shadow: 0px 0px 0px #ffffff;
    z-index: 1; /* <-------------- This is what puts the element above the particles btw*/
    border-radius: 25px;
    box-shadow: 0px 0px 5px #00000073
}

.today_mealplan {
    width: 500px;
    height: 700px;
    background: #ffffff;
    color: #000000;
    position: absolute;
    top: 50%;
    left: 67%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 10px 30px;
    box-shadow: 0px 0px 0px #ffffff;
    z-index: 1; /* <-------------- This is what puts the element above the particles btw*/
    border-radius: 25px;
    box-shadow: 0px 0px 5px #00000073;
}

.today_exercises, .today_meals{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.today_exercises li a, .today_meals li a {
    font-family: "Anton", sans-serif;
    font-size: 40px;
    text-align: center;
    display: block;
    padding: 20px 16px;
    border-radius: 25px;
    text-decoration: none;
    margin-top: 25px;
    color: #ffffff;
}
  
.today_exercises li a:hover, .today_meals li a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.exercisebp{
    background-image: url('../../../public/The-Bench-Press.png');
    border-radius: 25px;
    max-height: 100px;
}

.exerciseip{
    background-image: url('../../../public/inclinePress.png');
    border-radius: 25px;
    max-height: 100px;
}

.exercisecc{
    background-image: url('../../../public/crossover.png');
    border-radius: 25px;
    max-height: 100px;
}

.today_workout p, .today_mealplan p{
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 24pt;
}

.mealcereal{
    background-image: url('../../../public/cereal.png');
    border-radius: 25px;
    max-height: 100px;
}


