@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@400;700&display=swap');


/*Everything*/
.plan{
    overflow: visible;
    overflow-x: hidden;
    background: linear-gradient(rgb(21, 76, 121), rgb(118, 181, 197));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Calendar styling */
.calendar-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 80%;
}
.day-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.day-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.day {
    width: 100%;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
}
.day.active {
    background-color: #6a6a6a;
    color: #fff;
}
.day.disabled {
    background-color: #d3d3d3;
    color: #fff;
    cursor: not-allowed;
}
#dayDisplay {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}
#exerciseDropdown {
    margin: 20px;
    padding: 10px;
    font-size: 18px;
    width: 30%;
}
#videoButton {
    width: 300px;
    height: 200px;
    background-color: black;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 20px;
}