.shapeShifter{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
}

.logo{
  padding-top: 2%;
  width: 400px;
  height: 150px;
  margin-bottom: -40px;
}

.logoText {
  padding: 0;
  font-size: 50pt;
  color: white;
}

/*Log in Box*/
.authcontainer {
  width: 400px;
  height: 500px;
  position: absolute;
  margin-top: 315px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  background: #ffffff;
  color: #000000;
  box-sizing: border-box;
  padding: 40px 30px;
  box-shadow: 0px 0px 0px #ffffff;
  z-index: 1; /* <-------------- This is what puts the element above the particles btw*/
  border-radius: 3%;
}

/*Log In / Sign Up text that tells you what this page is for*/
.authText {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  color: #000000;
}

/*Email and password input box*/
.authbox {
  width: 100%;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  height: 40px;
  background-color: #ffffff;
  color: #616161;
}

/*log in/sign up buttons*/
.authbutton {
  border: none;
  outline: none;
  height: 40px;
  width: 100%;
  background-color: #375dda;
  border-radius: 20px;
  font-size: 20px;
  color: #ffffff;
}

.authbutton:hover {
  background-color: #2445b3;
}

a {
  padding-left: 15px;
}

.button {
  padding-top: 12px;
}