body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* Prevent horizontal scrollbars */
}


.recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0;
    gap: 20px;
    background-color: transparent;
}

.recipe-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #f4f4f4;
    cursor: pointer;
    border: 1px solid #ddd;
    width: 30%;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.recipe-image {
    display: flex;
    width: fit-content;
    margin: 5px;
    border: 5px;
    border-radius: 2px;
}

.recipe-title {
    align-items: center;
    line-height: 16px;
    margin: auto;
    min-height: 50px;
    align-self: center;
    text-align: center;
    font-size: clamp(12px, 2vw, 16px);
}

.recipe-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 145, 255, 0.2);
}
.pageTitle {
    margin: 2%;
}
.searchHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Center the header */
    padding: 20px;
    background-color: #ffffff; /* White background for the search bar */
    border-radius: 10px;
    max-width: 90%; /* Keep the search header responsive */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-container {
    margin-top: 20px; /* Add consistent spacing from the header */
    padding: 0; /* Remove padding to avoid extra space */
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px; /* Add spacing between inputs */
}

.searchBox, .searchButton {
    height: 40px;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.searchBox {
    flex-grow: 1; /* Allow search box to expand */
    margin-right: 10px; /* Space between input boxes */
}

.searchButton {
    padding: 0 20px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.searchButton:hover {
    background-color: #0056b3;
}


.recommendation-container {
    text-align: center;
    margin: 20px 0;
}

.recommendation {
    font-size: 1.2rem;
    color: #1e293b;
    font-weight: bold;
    background: #f0f8ff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
